@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Estacionamento</h1>
</div>

<div class="text-center">
    <hr />
    <a href="Registros/Entrada" class="btn btn-primary">Registrar Entrada</a>
    <a href="Registros/Saida" class="btn btn-primary" />Registrar Saida</a>
    <a href="Registros/Pagamento" class="btn btn-primary" />Registrar Pagamento</a>
</div>
